<!DOCTYPE html>
<html>
<head>
  <title>Radiofriendly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="nav-bar">
    <h3 class="nav-links">log in</h3>
    <h3 class="nav-links">faq</h3>
    <img src="http://force-ultimate.com/images/indexscroller/home.png" href="welcome#index" id="home">
  </nav>

  <%= yield %>

</body>
</html>
